@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Additional Colors */
    --primary-color1: #ffb400;
    --primary-color2: #000000;
    --primary-color3: #ffffff;
   
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    /* Dark Mode Colors */
    --primary: 180 100% 41.6%;
    --primary-foreground: 144.9 80.4% 10%;
    --ring: 180 100% 41.6%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
  }


}
body{
  @apply text-black-100
}


        /* Hide scrollbar for the entire page */
        html, body {
          margin: 0;
          padding: 0;
          height: 100%;
      }

      /* Optional: Hide scrollbar but allow scrolling */
      html {
          scrollbar-width: none; /* For Firefox */
          -ms-overflow-style: none; /* For IE and Edge */
      }

      html::-webkit-scrollbar {
          display: none; /* For Chrome, Safari, and Opera */
      }

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }
}

.w-md-editor-toolbar {
  padding: 10px !important;
}

section {
  @apply mb-28;
}

.active-link{
  @apply font-bold text-primary-color1
}
.header {
  @apply flex flex-col py-4 mb-4 justify-between;
}

.hero {
  @apply  px-5 flex flex-col mx-auto;
}

.portofolio-card:hover .img-hover {
  @apply opacity-25;
}

@media (min-width: 1024px) {
  .header {
    @apply  w-full flex-row py-8 px-10 mt-2 mb-4 mx-auto items-center content-center ;
  }

  .hero {
    @apply container flex-row mt-8;
  }
}
